@import url('https://fonts.googleapis.com/css2?family=Roboto@1&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5vh auto;
    max-width: 65ch;
    background-color: #f8f8f8cb;
    border: 1px solid #333;
    border-radius: 10px;
}

.presentation > * {
    margin: 0.5rem 1.5rem;
}

.maPhoto{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-image: url('/images/accueil1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.general{
    display: flex;
    flex-direction: column;
}

/* 1er partie tableau */
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8cb;
    border-radius:15px 0 0 15px;
}

h2{
    margin: 3vh 0;
    font-size: 2rem;
    text-align: center;
}

.etatCivil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.champs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    height: 5vh;
    margin: .5em 0;
}

.champs span, .champs p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.champs span{
    width: 30%;
}

.champs p {
    width: 70%;
    background-color: #2cd8d566;
    border:1px solid #333;
    border-radius: 30px;
}

p a{
    color: #000;
    text-decoration: none;
}

/* 2eme partie du tableau */

.competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    background-color: #f8f8f8;
    border-radius:0 15px 15px 0;

}

#tableau{
   height: 400px;
}

h4{
    margin: 3vh 0;
    text-align: center;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.logo{
    height: 60px;
    width: 60px;
    border-radius: 30%;
    margin: 10px;

}

.parcours{
    margin: 5vh auto;
    width: 70vw;
    background-color: #f8f8f8;
    border-radius: 15px;
}
.box-timeline{
    position: relative;
    width: 100%;
    padding: 10%;
    margin: 0 1rem;
}
.ligne{
    height: 1200px;
    width: 8px;
    margin: 0 auto;
    background-color: rgba(000, 99, 132);
}
.rond{
    /* rond */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(226, 238, 246);
    border: 1px solid #000;
    left: 50%;
    color: #333;
    transform: translateX(-50%);
    font-size: 20px;
}
/* (1000-160 + 80) / 3 = +306  prendre le padding en compte */
.r1{top:80px;}
.r2{top:386px;}
.r3{top:692px;}
.r4{top:1000px;}

.box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    min-height: 180px;
    left: 50%;
    transform: translate(-50%);
    padding: .5em;
    border-radius: 10%;
    color: #333;
    box-shadow: 0 10px 15px rgb(0, 0, 0, .5);
}


.b1{
    top: 80px;
    left:  calc(50% - 220px);
}
.b2{
    top: 386px;
    left:  calc(50% + 220px);
}
.b3{
    top: 692px;
    left:  calc(50% - 220px);
}
.b4{
    top: 1000px;
    left:  calc(50% + 220px);
}

.box p{
    line-height: 20px;
    font-size: 16px;
    margin: 15px;
}

.box span{
    text-align: center;
}

@media screen and (max-width: 1000px) {


    .parcours{
        width: 94vw;
    }

    .ligne{
        position: relative;
        left: 100px;
    }
    
    .rond{
        left: calc(50% + 100px);
    }
    .box{
        width: 220px;
        height: 150px;
        left: calc(50% - 50px);
    }
}


@media screen and (min-width:880px) {

    .general{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 95vw;
    }
    
    .info, .competences{
        height: 800px;
        margin: 0;
    }
    .info {
        width: 40%;
    }
    .competences{
        width: 60%;
    }
}